*{
  box-sizing: border-box;
}

body{
  font-family: 'helvetica', 'arial', sans-serif;
}

.cfx:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

img{
  max-width: 100%;
}

a{
  text-decoration: none;
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



@media only screen and (max-width:768px){

}